// @tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/uber-move-2');

@import './editor.scss';

html {
  --bg-primary: #fff;
  --text-primary: #222222;
  --text-primary-transparent: #22222233;
  --accent: #00dfa2;
  --accent-transparent: rgba(0, 223, 162, 0.1);
  --chakra-colors-gray-800: var(--text-primary) !important;
  --menu-bg: var(--bg-primary) !important;

  &.dark {
    --bg-primary: #121212;
    --text-primary: #fafafa;
    --text-primary-transparent: #fafafa11;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 100ms ease-in-out;
  font-family: 'Uber Move', sans-serif;
}

.app-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    width: 1400px;
  }
}
