@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-primary: #fff;
  --text-primary: #121212;
  --text-primary-transparent: #12121233;
  --accent: #00DFA2;
  --accent-transparent: rgba(0, 223, 162, 0.1);
  --chakra-colors-gray-800: var(--text-primary) !important;
  --menu-bg: var(--bg-primary) !important;

  &.dark {
    --bg-primary: #121212;
    --text-primary: #fff;
    --text-primary-transparent: #fff3;
  }
}


body {
  overflow-x: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 100ms ease-in-out;
}

.app-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    width: 1400px;
  }
}